<!DOCTYPE html>
<html>

<body>


    <h1>You are already logged in!</h1>
    <p>as <%= name %>
    </p>

    <form action="/Logout" method="POST">
        <div>
            <input type="submit" text="logout">logout</input>
        </div>
    </form>
</body>

</html>